<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The creators of this application are Emelie Dümpelmann and Rabea Schulze. They are both current masters students at the Leibniz University in Hanover.
  <br>
  For further information please contact us via
  <%= mail_to("matching18@gmail.com", "Email", :style=> "font-weight: bold")%> or use the <%= link_to "Contact form", contact_path, :style=> "font-weight: bold" %>.
</p>

<p><strong>Emelie Dümpelmann</strong></p>
<dl class="dl-horizontal">
  <dt>
      <div class="image">
        <%=image_tag("Emelie.jpg", height: 250, alt: "Emelie", src:"app/assets/images/Emelie.jpg") %>
      </div>
  </dt>
  <br>
  <br>
  <br>
  <dd> <strong> Name: </strong> Emelie Dümpelmann <br>
       <strong> Birthdate: </strong> 26.11.1993 in Helmstedt <br>
       <strong> 2004-2012: </strong> High-school diploma <br>
       <strong> 2012-2016: </strong> B.Sc. Business Economics <br>
       <strong> 2016-2018: </strong> M.Sc. Business Sciences <br>
  </dd>
</dl>
<br>
<br>
<p><strong>Rabea Schulze</strong></p>
<dl class="dl-horizontal">
  <dt>
    <div class="image">
      <%=image_tag("Rabea.jpg", height: 250, alt: "Rabea", src:"app/assets/images/Rabea.jpg") %>
    </div>
  </dt>
  <br>
  <br>
  <br>
  <dd> <strong> Name: </strong> Rabea Schulze <br>
       <strong> Birthdate: </strong> 20.09.1994 in Celle <br>
       <strong> 2004-2012: </strong> High-school diploma <br>
       <strong> 2012-2016: </strong> B.Sc. Economics <br>
       <strong> 2016-2019: </strong> M.Sc. Business Sciences <br>
  </dd>
</dl>
