<div class="jumbotron">
  <h1>Welcome to the Matching App</h1>
  <h3><strong>Description:</strong></h3>
  <h3>
    This is the home page for a matching application. The intention is to allocate Bachelor
    students who are close to write their bachelor thesis to institutes of the underlying university.
    The application should provide an optimal solution so that the sorrow of the students is as small as possible.
  </h3>
  <%=image_tag("Matching.png", alt: "Matching", src:"app/assets/images/Matching.png") %>
  </div>
  <div class="button">
  <%= button_to "Sign up now!", signup_path, class: "btn btn-primary" %>
</div>
