<% provide(:title, 'Matching App') %>

<h1>The Matching App </h1>
<br>

  <div class="linkcontainer">
    <div class="centerwrapper">
        <div class="image-icon">
          <%= link_to image_tag("student.png", height: '100', alt: 'Student logo'), students_path, "data-turbolinks": "false"  %> <br>
          <%= link_to 'Go to student administration', students_path, "data-turbolinks": "false" %>
        </div>

        <div class="image-icon">
          <%= link_to image_tag("university.png", height: '100', alt: 'Institut logo'), institutes_path, "data-turbolinks": "false"  %> <br>
          <%= link_to 'Go to institute administration', institutes_path, "data-turbolinks": "false" %>
        </div>

        <div class="image">
          <%= link_to image_tag("Goal2.png", height: '100', alt: 'Goal logo'), :controller => 'translinks', :action => 'show_matching_and_ofv', "data-turbolinks": "false"  %> <br>
          <%= link_to 'View Matching and Objective Function Value', :controller => 'translinks', :action =>  'show_matching_and_ofv', "data-turbolinks": "false" %>
        </div>
    </div>
    <br>
    <br> <br>
    <br> <br>

      <div class = "button" >
        <%= button_to "Delete old Matching", {:controller => 'translinks', :action =>  'delete_matching'},
        {:class => "btn btn-primary"} %>
        <br>
        <%= button_to "Optimize", {:controller => 'translinks', :action =>  'optimize'},
        {:class => "btn btn-primary"} %>
        <br>
        <br>
      </div>
</div>
<br> <br>
