<% provide(:title, "Editing Institute") %>
<h1>Editing Institute</h1>

<%= render 'form', institute: @institute %>

<%= link_to 'Show', @institute %> |
<%= link_to 'Back', institutes_path, "data-turbolinks": "false"  %>
