<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Institutes">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Institute</Data></Cell>
        <Cell><Data ss:Type="String">Number of professors</Data></Cell>
        <Cell><Data ss:Type="String">Number of employees</Data></Cell>
        <Cell><Data ss:Type="String">Excess capacity</Data></Cell>
      </Row>
    <% @institutes.each do |institute| %>
      <Row>
        <Cell><Data ss:Type="String"><%= institute.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= institute.number_of_professors %></Data></Cell>
        <Cell><Data ss:Type="String"><%= institute.number_of_employees %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= institute.excess_capacity %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
