<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= form.label :name %>
   <%= form.text_field :name, id: :student_name %>
 </div>

  <div class="field">
    <%= form.label :studentnumber %>
    <%= form.number_field :studentnumber, id: :student_studentnumber %>
  </div>

  <div class="field">
    <%= form.label 'Choose Institute' %><br />
    <%= form.collection_select :institute_id, Institute.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :preference_value %>
    <%= form.number_field :preference_value, id: :student_preference_value %>
  </div>

  <div class="button">
    <%= form.submit "Create Student", class: "btn btn-primary" %>
  </div>
<% end %>
