<% provide(:title, "Editing Student") %>
<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path, "data-turbolinks": "false"  %>
