<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Students">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Student</Data></Cell>
        <Cell><Data ss:Type="String">Studentnumber</Data></Cell>
        <Cell><Data ss:Type="String">Institute</Data></Cell>
        <Cell><Data ss:Type="String">Preference value</Data></Cell>
      </Row>
    <% @students.each do |student| %>
      <Row>
        <Cell><Data ss:Type="String"><%= student.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.studentnumber %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.institute.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= student.preference_value %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
