<% provide(:title, "Student") %>

<p>
  <strong>Name:</strong>
  <%= best_in_place @student, :name %>
</p>

<p>
  <b>Institute:</b>
  <%= @student.institute.name %>
</p>


<p>
  <strong>Studentnumber:</strong>
  <%= @student.studentnumber %>
</p>

<p>
  <strong>Preference value:</strong>
  <%= @student.preference_value %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path, "data-turbolinks": "false"  %>
