<% if @user.role_ids.include?(1) %>
<%= form_for(@user) do |form| %>
 <%= form.label :name %>
 <%= form.text_field :name, class: 'form-control' %>
 <%= form.label :email %>
 <%= form.email_field :email, class: 'form-control' %>
 <div class="field">
   <%= 'I am the admin!' %>
</div>
<% end %>

<% elsif @user.role_ids.include?(2) %>
<%= form_for(@user) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>
  <%= form.label :email %>
  <%= form.email_field :email, class: 'form-control' %>
  <div class="field">
    <%= form.label 'Birthdate' %>
    <%= form.date_select :birthday, :start_year=> Date.current.year, :end_year=> 1920, id: :user_birthday %>
  </div>
  <div class="field">
    <%= form.label 'Study programme' %>
    <%= form.text_field :study_programme, id: :user_study_programme, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label 'Semester' %>
    <%= form.text_field :semester, id: :user_semester, class: 'form-control' %>
  </div>
<% end %>

<% elsif @user.role_ids.include?(3) %>
<%= form_for(@user) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>
  <%= form.label :email %>
  <%= form.email_field :email, class: 'form-control' %>
<div class="field">
  <%= form.label :head_of_institute %>
  <%= form.text_field :head_of_institute, id: :user_head_of_institute, class: 'form-control' %>
</div>
<div class="field">
  <%= form.label :research_fields %>
  <%= form.text_field :research_fields, id: :user_research_fields, class: 'form-control' %>
</div>
<% end %>
<% end %>
