<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= render 'infos', user: @user %>
    <div class="gravatar_edit">
     <%= gravatar_for @user %>
     <a href="http://gravatar.com/emails" target="_blank">change</a>
     <%= form_for(@user) do |form| %>
     <div class="button">
          <%= form.submit yield(:button_text), class: "btn btn-primary" %>
     </div>
   </div>
  </div>
</div>
<% end %>
