<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |form| %>
      <%= render 'shared/error_messages', object: @user %>

      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>

      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control' %>

      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>

      <%= form.label :password_confirmation, "Confirmation" %>
      <%= form.password_field :password_confirmation, class: 'form-control' %>

      <% @roles.each do |role| %>
      <div class="radio">
        <%= radio_button_tag "user[roles_ids][]", role.id, @user.roles.include?(role) %>
        <%= role.description %>
      </div>
      <% end %>
      <div class="button">
      <%= form.submit yield(:button_text), class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
