<% provide(:title, @user.name) %>
<h1> Profile </h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <section class="Profile">
    <% if @user.role_ids.include?(1) %>
    <%= form_for(@user) do |form| %>
    <br>
    <strong>Name:</strong>
    <%= best_in_place @user, :name %>
    <br>
    <strong>Email:</strong>
    <%= best_in_place @user, :email %>
    <% end %>
    <br>
    <div class="field">
      <%= 'I am the admin!' %>
   </div>

    <% elsif @user.role_ids.include?(2) %>
    <%= form_for(@user) do |form| %>
    <br>
    <strong>Name:</strong>
    <%= best_in_place @user, :name %>
    <br>
    <strong>Email:</strong>
    <%= best_in_place @user, :email %>
    <br>
    <strong>Birthday:</strong>
    <%= best_in_place @user, :birthday %>
    <br>
    <strong>Study programme:</strong>
    <%= best_in_place @user, :study_programme %>
    <br>
    <strong>Semester:</strong>
    <%= best_in_place @user, :semester %>
    <% end %>

    <% elsif @user.role_ids.include(3) %>
    <%= form_for(@user) do |form| %>
    <br>
    <strong>Name:</strong>
    <%= best_in_place @user, :name %>
    <br>
    <strong>Email:</strong>
    <%= best_in_place @user, :email %>
    <br>
    <strong>Email:</strong>
    <%= best_in_place @user, :head_of_institute %>
    <br>
    <strong>Email:</strong>
    <%= best_in_place @user, :research_fields %>
    <% end %>

    </section>
    <% end %>
</div>
