<% provide(:title, "Contact") %>
<div align="center">
  <h1>Send a message to us </h1>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div class="button">
    </br>
    <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
  </div>
  <% end %>
</div>
