<div class="row">
  <div class="col-md-6 col-md-offset-3"
    <%= form_for(@gams_path) do |f| %>
        <% if @gams_path.errors.any? %>
        <div id="error_explanation">
          <h2><%= @order.errors.count.to_s + 'mistake' %>
            <% if @order.errors.count < 2 %>
                prevents
            <% elsif @order.errors.count > 1 %>
                prevent
            <% end %>
            savings of this gams_paths.
          </h2>

          <u1>
            <% @gams_path.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </u1>
        </div>
    <% end %>

        <div class="field">
          <%= f.label :gams_path %>
          <br>
          <%= f.text_field :gams_path_url, :class => "form-control",
            placeholder: "C:\\GAMS\\win64\\24.5\\gams"%>
        </div>
        <div class="actions">
          <%= f.submit 'Update the GAMS-Path', {:class => "btn btn-primary"
          } %>
        </div>
      <% end %>
   </div>
</div>
