<% provide(:title, "Editing GAMS-Path") %>
<h1>Editing GAMS-Path</h1>

<%= render 'form', gams_path: @gams_path %>

<%= link_to 'Show', @gams_path %> |
<%= link_to 'Back to GAMS-Path administration', gams_paths_path, "data-turbolinks": "false"  %>
