<% provide(:title, "GAMS-Path") %>

<h1>GAMS-Path</h1>

<table id="gams_paths" class="display">
  <thead>
    <tr>
      <th>GAMS-Path</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gams_paths.each do |gams_path| %>
      <tr>
        <td><%= gams_path.gams_path_url %></td>
        <td><%= link_to 'Show', gams_path %></td>
        <td><%= link_to 'Edit', edit_gams_path_path(gams_path) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Matching', matching_start_path, "data-turbolinks": "false"  %>
