<% provide(:title, "Information about GAMS-Path") %>
<h1>Information about GAMS-Path</h1>

<p>
  <strong>GAMS-Path-URL:</strong>
  <%= @gams_path.gams_path_url %>
</p>

<%= link_to 'Edit', edit_gams_path_path(@gams_path) %> |
<%= link_to 'Back to GAMS-Path administration', gams_paths_path, "data-turbolinks": "false"  %>
