<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Matching">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Student</Data></Cell>
        <Cell><Data ss:Type="String">Institute</Data></Cell>
        <Cell><Data ss:Type="String">Preference value</Data></Cell>
        <Cell><Data ss:Type="String">Matching</Data></Cell>
      </Row>
    <% @translinks.each do |translink| %>
      <Row>
        <Cell><Data ss:Type="String"><%= translink.student.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= translink.institute.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= translink.preference_value %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= translink.matching %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
