<p id="notice"><%= notice %></p>

<h1>Translinks</h1>

<%= link_to 'Excel Download', translinks_path(:format => :xls) %>

<table id="translinks" class="display">
  <thead>
    <tr>
      <th>Student</th>
      <th>Institute</th>
      <th>Preference value</th>
      <th>Matching</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @translinks.each do |translink| %>
      <tr>
        <td><%= translink.student.name %></td>
        <td><%= translink.institute.name %></td>
        <td><%= translink.preference_value %></td>
        <td><%= translink.matching %></td>
        <td><%= link_to 'Edit', edit_translink_path(translink) %></td>
        <td><%= link_to 'Destroy', translink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @objective_function_value!=nil %>
    The cost will be <%=   @objective_function_value %> monetary unit!   <br>   <br>
<% end %>


<%= link_to 'New Translink', new_translink_path %>
<br>
<%= link_to 'Back to Matching', matching_start_path %>
