div.linkcontainer {
  text-align: center;
  width: 100%;
}

div.centerwrapper{
  width: 80%;
  margin: auto;
}

div.button{
  width:380px;
  margin: auto;
  color: #720404;
  &:hover {
    color:white;
    text-decoration: none;
  }
    .btn-primary {
    background: #720404;
    color: gray;
    border-color: #720404;
    &:hover {
      color:white;
      text-decoration: none;
    }
    }
}

div.image-icon {
  float: left;
  padding: 0 70px;
}
