<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <br>
    <dl class="dl-horizontal">
      <dt>
    <%= link_to image_tag("Puzzle.png", height: 40, alt: 'Puzzle Logo'), root_path, id: 'logo' %>
      </dt>
      <dd>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <li>
              <%= link_to "Users", users_path %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Apps <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Matching", matching_start_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </dd>
    </dl>
  </div>
</header>
